@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* Define the core color palette as CSS variables for easy reuse */
	:root {
		--background: #f9fafb; /* Matches the background color in the Tailwind config */
		--foreground: #1f2937; /* Matches the text color (foreground) */
		--primary: #1d4ed8; /* Primary blue color */
		--secondary: #64748b; /* Secondary grey color */
		--border: #e5e7eb; /* Light border color */
		--radius: 0.5rem; /* Default border radius */
	}

	/* Global base styles */
	* {
		@apply border-border; /* Apply a light border to all elements */
	}

	/* Body settings */
	body {
		@apply bg-background text-foreground; /* Set the background and text color */
		font-family: "Inter", sans-serif; /* Ensure the font family is set globally */
	}

	/* Ensure the HTML and body have full width and height */
	html,
	body {
		max-width: 100%;
		max-height: 100vh;
		margin: 0;
		padding: 0;
	}
	.toaster,
	.toast {
		border: none; /* Remove the global border */
	}
}

@layer components {
	.toast[data-type="success"] {
		@apply text-customGreen bg-white;
	}

	.toast[data-type="error"] {
		@apply text-customRed bg-white;
	}
}
